.h-feed
  %data.p-name{ value: "#{@account.username} on #{site_hostname}" }/

  .activity-stream-tabs
    = active_link_to t('accounts.posts'), short_account_url(@account)
    = active_link_to t('accounts.posts_with_replies'), short_account_with_replies_url(@account)
    = active_link_to t('accounts.media'), short_account_media_url(@account)

  - if @statuses.empty?
    .accounts-grid
      = render 'nothing_here'
  - else
    .activity-stream.with-header
      - if params[:page].to_i.zero?
        = render partial: 'stream_entries/status', collection: @pinned_statuses, as: :status, locals: { pinned: true }

      = render partial: 'stream_entries/status', collection: @statuses, as: :status

  - if @newer_url || @older_url
    .pagination
      - if @older_url
        = link_to safe_join([fa_icon('chevron-left'), t('pagination.older')], ' '), @older_url, class: 'older', rel: 'next'
      - if @newer_url
        = link_to safe_join([t('pagination.newer'), fa_icon('chevron-right')], ' '), @newer_url, class: 'newer', rel: 'prev'
